@import "./reset.scss";

$bold: bold;
$color-hover: #5d5df1;

body {
  font-family: sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/Files/rectangle_3.png");
  background-color: #606866;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 83px;
  z-index: 100;
  &:after {
    display: block;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 1px;
    background-color: #626262;
    opacity: .5;
  }
  &__container {
    display: flex;
    margin: auto;
    max-width: 1100px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__home {
    display: block;
    color: white;
    font-size: 34px;
    cursor: pointer;
    transition: color 0.1s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__button {
    display: block;
    color: white;
    //width: 196px;
    //height: 45px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 19px;
    text-decoration: none;
    padding: 10px 21px 13px 21px;
    line-height: 1;
    transition: all 0.1s linear;;
    &:hover {
      background-color: white ;
      color: #251e1a;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 85px;
  z-index: 100;
  &:before {
    display: block;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 1px;
    //What color is needed here? Shadow?
    background-color: #616161;
    opacity: .35;
  }
  &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
  }
  &__container {
    display: flex;
    margin: auto;
    max-width: 1100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
  }
  &__logo {
    margin-left: 15px;
  }
  &__rda {
    font-weight: $bold;
    margin-left: 15px;
  }
}

.scroll-menu {
  display: block;
  z-index: 1000;
  position: fixed;
  top: 30%;
  left: 5%;
  opacity: 0;
  transition: opacity 0.5s linear;
  &.vision {
    opacity: 1;
  }
  &__button {
    display: flex;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0.3;
    height: 14px;
    width: 14px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s linear;
    &.active {
      opacity: 1;
      .scroll-menu__point {
        opacity: 1;
      }
    }
  }
  &__point {
    display: block;
    text-decoration: none;
    padding: 5px;
    background-color: white;
    opacity: 0;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

}

section {
  color: white;
  text-align: center;
}

.home-page {
  display: flex;
  margin: auto;
  max-width: 1100px;
  height: 600px;
  &__pictures {
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
  }
  &__phone-left {
    display: inline-block;
    position: absolute;
    background-image: url("/Files/home_page/phone_left.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 515px;
    top: 12.5%;
    left: 0;
    z-index: 100;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.05);
      top: 10%;
    }
  }
  &__phone-left--shifted {
    left: -500px;
    opacity: 0;
  }
  &__phone-center {
    display: inline-block;
    position: absolute;
    top: 10.5%;
    left: 33%;
    z-index: 300;
    transition: all 0.2s linear;
  }
  &__active-phone {
    background-image: url("/Files/home_page/phone_center.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 505px;
    cursor: pointer;
    transition: all 0.2s linear;
    z-index: 500;
  }
  &__active-phone--hovered {
    transform: scale(1.05);
    z-index: 500;
  }
  &__phone-center--shifted {
    left: 75%;
    top: 7%;
    width: 255px;
    height: 515px;
  }
  &__active-phone--shifted {
    transform: none;
    cursor: default;
  }

  &__watch-right {
    display: inline-block;
    background-image: url("/Files/home_page/watch_right.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 205px;
    height: 325px;
    top: 50%;
    left: 66%;
    z-index: 300;
    cursor: pointer;
    transition: all 0.15s linear;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__watch-right--down {
    top: 520px;
    opacity: 0;
    z-index: -100;
  }
  &__left-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 515px;
    transition: all 0.2s linear;
    top: 0;
    text-align: right;
    z-index: -100;
  }
  &__left-text--shifted {
    right: 300px;
    z-index: 1000;
  }
  &__left-text-elements {
    margin-right: 80px;
    position: relative;
    line-height: 1.5;
  }
  &__menu-elements {
    display: block;
    height: 33%;
  }
  &__menu-name {
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__right-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 515px;
    text-align: left;
    transition: all 0.2s linear;
    top: 0;
    z-index: -100;
  }
  &__right-text--shifted {
    opacity: 1;
    left: 295px;
    z-index: 1000;
  }
  &__right-text-elements {
    margin-left: 80px;
    position: relative;
    line-height: 1.5;
  }
  &__menu-elements-balance {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.2s linear;
    transform: translateX(-1000px);
    opacity: 0;
    &:hover {
      color: $color-hover;
      .home-page__rub {
        fill: $color-hover;
      }
    }
  }
  &__menu-elements-balance--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-support {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.4s linear;
    transform: translateX(-1000px);
    opacity: 0;
    &:hover {
      color: $color-hover;
      .home-page__sup {
        fill: $color-hover;
      }
    }
  }
  &__menu-elements-support--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-profile {
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.6s linear;
    transform: translateX(-1000px);

    opacity: 0;
    &:hover {
      color: $color-hover;
      .home-page__profile {
        fill: $color-hover;
      }
    }
  }
  &__menu-elements-profile--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-info {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.2s linear;
    transform: translateX(1000px);
    opacity: 0;
    &:hover {
      color: $color-hover;
      .home-page__info {
        stroke: $color-hover;
      }
    }
  }
  &__menu-elements-info--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-bell {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.4s linear;
    transform: translateX(1000px);
    opacity: 0;
    &:hover {
      color: $color-hover;
      .home-page__bell {
        fill: $color-hover;
      }
    }
  }
  &__menu-elements-bell--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-call {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.6s linear;
    transform: translateX(1000px);
    opacity: 0;
    &:hover {
      color: $color-hover;
      .home-page__call {
        fill: $color-hover;
      }
    }
  }
  &__menu-elements-call--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__rub {
    display: block;
    width: 35px;
    height: 35px;
    fill: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 335px;
  }
  &__sup {
    display: block;
    width: 35px;
    height: 35px;
    fill: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 335px;
  }
  &__profile {
    display: block;
    width: 35px;
    height: 35px;
    fill: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 335px;
  }
  &__info {
    display: block;
    width: 17px;
    height: 35px;
    stroke: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 9px;
  }
  &__bell {
    display: block;
    width: 33px;
    height: 35px;
    fill: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 1px;
  }
  &__call {
    display: block;
    width: 35px;
    height: 35px;
    fill: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1%;
    left: 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: left;
    color: white;
    padding-left: 30px;
    line-height: 1.5;
    transition: all 0.15s linear;
    z-index: 900;
  }
  &__text--hidden {
    opacity: 0;
    z-index: -100;
  }
  &__head {
    font-size: 44px;
    margin-bottom: 27px;
  }
  &__paragraph {
    margin-top: 20px;
    font-size: 20px;
  }
  &__shops {
    margin-top: 40px;
  }
  &__shop {
    margin-right: 25px;
    text-decoration: none;
  }
}

.ip-telephony {
  display: flex;
  margin: auto;
  max-width: 1000px;
  height: 620px;
  &__text {
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  &__text-name {
    font-size: 44px;
  }
  &__text-content {
    margin-top: 57px;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    height: 230px;
  }
  &__pictures {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
  }
  &__phone-front {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    background-color: indianred;
    z-index: 100;
    left: 200px;
    transition: all 0.6s linear;
  }
  &__phone-front--shifted {
    top: 10px;
    left: 20px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    left: 200px;
    top: 57px;
    background-color: forestgreen;
  }
}
.balance {
  display: flex;
  margin: auto;
  max-width: 1000px;
  height: 620px;
  &__text {
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text-name {
    font-size: 44px;
  }
  &__text-content {
    margin-top: 57px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    height: 230px;
  }
  &__pictures {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
  }
  &__phone-front {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    background-color: indianred;
    z-index: 100;
    left: 0;
    transition: all 0.6s linear;
  }
  &__phone-front--shifted {
    top: 10px;
    left: 140px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    left: 0;
    top: 57px;
    background-color: forestgreen;
  }
}
.notification {
  display: flex;
  margin: auto;
  max-width: 1000px;
  height: 620px;
  &__text {
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  &__text-name {
    font-size: 44px;
  }
  &__text-content {
    margin-top: 57px;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    height: 230px;
  }
  &__pictures {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
  }
  &__phone-front {
    display: block;
    position: absolute;
    width: 310px;
    height: 540px;
    z-index: 100;
    left: 200px;
    background-image: url("/Files/phones/notification-phone-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.6s linear;
  }
  &__phone-front--shifted {
    top: -18px;
    left: 20px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    left: 200px;
    top: 57px;
    background-image: url("/Files/phones/notification-phone-back.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__watch {
    display: block;
    position: absolute;
    width: 140px;
    height: 240px;
    bottom: 40px;
    left: -461px;
    background-image: url("/Files/phones/notification-watch.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__watch-screen {
    display: block;
    position: absolute;
    width: 104px;
    height: 133px;
    bottom: 52px;
    left: 15px;
    z-index: 200;
    background-image: url("/Files/phones/notification-watch-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.profile {
  display: flex;
  margin: auto;
  max-width: 1000px;
  height: 620px;
  &__text {
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text-name {
    font-size: 44px;
  }
  &__text-content {
    margin-top: 57px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    height: 230px;
  }
  &__pictures {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
  }
  &__phone-front {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    background-color: indianred;
    z-index: 100;
    left: 0;
    transition: all 0.6s linear;
  }
  &__phone-front--shifted {
    top: 10px;
    left: 140px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    left: 0;
    top: 57px;
    background-color: forestgreen;
  }
}
.personal-account {
  display: flex;
  margin: auto;
  max-width: 1000px;
  height: 620px;
  &__text {
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  &__text-name {
    font-size: 44px;
  }
  &__text-content {
    margin-top: 57px;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    height: 230px;
  }
  &__pictures {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
  }
  &__phone-front {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    background-color: indianred;
    z-index: 100;
    left: 200px;
    transition: all 0.6s linear;
  }
  &__phone-front--shifted {
    top: 10px;
    left: 20px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    left: 200px;
    top: 57px;
    background-color: forestgreen;
  }
}
.information {
  display: flex;
  margin: auto;
  max-width: 1000px;
  height: 620px;
  &__text {
    display: flex;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text-name {
    font-size: 44px;
  }
  &__text-content {
    margin-top: 57px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    height: 230px;
  }
  &__pictures {
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    padding-left: 20px;
    align-items: center;
  }
  &__phone-front {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    background-color: indianred;
    z-index: 100;
    left: 0;
    transition: all 0.6s linear;
  }
  &__phone-front--shifted {
    top: 10px;
    left: 140px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    width: 250px;
    height: 505px;
    left: 0;
    top: 57px;
    background-color: forestgreen;
  }
}

.get-ap {
  display: flex;
  margin: auto;
  max-width: 533px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
  &__name {
    display: block;
    font-size: 44px;
  }
  &__content {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
  }
  &__logo {
    display: block;
    background-image: url("/Files/logo_anetwork.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    width: 256px;
    margin-top: 60px;
  }
  &__shops {
    margin-top: 60px;
  }
  &__shop {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
}
