@import "./reset.scss";

@font-face {
  font-family: HNC-Medium;
  src: local(HNC-Medium), url("/Font/HelveticaNeueCyr-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-Roman;
  src: local(HNC-Roman), url("/Font/HelveticaNeueCyr-Roman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-Light;
  src: local(HNC-Light), url("/Font/HelveticaNeueCyr-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-Thin;
  src: local(HNC-Thin), url("/Font/HelveticaNeueCyr-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-UltraLight;
  src: local(HNC-UltraLight), url("/Font/HelveticaNeueCyr-UltraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

$bold: bold;

body {
  font-family: sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/Files/rectangle_3.png");
  background-color: #606866;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 83px;
  z-index: 100;
  &:after {
    display: block;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 1px;
    background-color: #626262;
    opacity: .5;
  }
  &__container {
    display: flex;
    margin: auto;
    max-width: 1320px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__home {
    display: block;
    color: white;
    font-size: 34px;
    font-family: HNC-Roman, sans-serif;
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: transform 0.1s linear;
    &:hover {
      transform: scale(1.03);
    }
  }
  &__button {
    display: block;
    color: white;
    cursor: pointer;
    width: 173px;
    height: 47px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 17px;
    font-family: HNC-Thin, sans-serif;
    padding: 14px 13px 14px 13px;
    line-height: 1;
    letter-spacing: 1px;
    transition: all 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      background-color: white;
      opacity: 1;
      color: #3C250F;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 83px;
  z-index: 100;
  &:before {
    display: block;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 1px;
    background-color: #616161;
    opacity: .35;
  }
  &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    z-index: 500;
  }
  &:hover:after {
    opacity: 0.09;
  }
  &__container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 16px;
  }
  &__logo {
    width: 107px;
    height: 24px;
    background-image: url("/Files/logo.png");
    text-decoration: none;
    margin-right: 31px;
    z-index: 10000;
    &:hover {
      opacity: 0.8;
    }
  }
  &__logo--opacited {
    opacity: 0.8;
  }
}

section {
  color: white;
}

.home-page {
  display: flex;
  position: relative;
  margin: auto;
  width: 1320px;
  height: 750px;

  &__left-phone {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    background-image: url("/Files/home_page/android/phone-general-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 618px;
    width: 287px;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear, left 0.2s linear, top 0.2s linear;
  }
  &__left-phone-motion {
    animation-name: motion-Android;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &__left-phone--hovered {
    transform: scale(1.02);
    z-index: 500;
  }
  &__left-phone--hover-balance {
    background-image: url("/Files/home_page/android/phone_balance.png");
  }
  &__left-phone--hover-support {
    background-image: url("/Files/home_page/android/phone_support.png");
  }
  &__left-phone--hover-profile {
    background-image: url("/Files/home_page/android/phone_profile.png");
  }
  &__left-phone--hover-info {
    background-image: url("/Files/home_page/android/phone_info.png");
  }
  &__left-phone--hover-bell {
    background-image: url("/Files/home_page/android/phone_bell.png");
  }
  &__left-phone--hover-call {
    background-image: url("/Files/home_page/android/phone_call.png");
  }
  &__left-phone--shifted {
    left: -500px;
    opacity: 0;
  }
  &__left-phone--shifted-center {
    transform: none;
    cursor: default;
    left: 518px;
    top: 65px;
    z-index: -100;
  }

  &__center-phone {
    display: block;
    position: absolute;
    top: 61px;
    left: 210px;
    background-image: url("/Files/home_page/iphone/iphone-general-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
    cursor: pointer;
    transition: transform 0.25s linear, width 0.2s linear, height 0.25s linear, opacity 0.2s linear, left 0.2s linear, top 0.2s linear;
    z-index: 500;
  }
  &__center-phone-motion {
    animation-name: motion-IPhone;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &__phone-motion--stopped {
    animation-play-state: paused;
  }
  &__center-phone--hover-balance {
    background-image: url("/Files/home_page/iphone/iphone_balance.png");
  }
  &__center-phone--hover-support {
    background-image: url("/Files/home_page/iphone/iphone_support.png");
  }
  &__center-phone--hover-profile {
    background-image: url("/Files/home_page/iphone/iphone_profile.png");
  }
  &__center-phone--hover-info {
    background-image: url("/Files/home_page/iphone/iphone_info.png");
  }
  &__center-phone--hover-bell {
    background-image: url("/Files/home_page/iphone/iphone_bell.png");
  }
  &__center-phone--hover-call {
    background-image: url("/Files/home_page/iphone/iphone_call.png");
  }

  &__center-phone--hovered {
    transform: scale(1.02);
    z-index: 500;
  }
  &__center-phone--shifted {
    left: -500px;
    z-index: -500;
    opacity: 0;
  }
  &__center-phone--shifted-center {
    transform: none;
    cursor: default;
    left: 512px;
    top: 79px;
    z-index: -100;
  }

  &__watch-right {
    display: block;
    position: absolute;
    top: 367px;
    left: 463px;
    background-image: url("/Files/home_page/watch_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 178px;
    height: 321px;
    z-index: 900;
    cursor: pointer;
    transition: all 0.15s linear;
  }
  &__watch-right--hovered {
    transform: scale(1.02);
  }
  &__watch-right-motion {
    animation-name: motion-watch;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &__watch-right--down {
    top: 520px;
    opacity: 0;
    z-index: -100;
  }
  &__service-development {
    display: block;
    position: absolute;
    top: 150px;
    left: 16px;
    width: 140px;
    height: 47px;
    transform: scaleX(1);
    z-index: -20000;
    transition: all 0.2s linear;
    border-radius: 5.45px;
    overflow: hidden;
    opacity: 0;
    &:before {
      display: block;
      position: absolute;
      top: -150px;
      left: -16px;
      content: " ";
      z-index: 700;
      background-image: url("/Files/home_page/watch_right.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 187px;
      height: 337px;
      filter: blur(5px);
    }
    &:after {
      display: block;
      position: absolute;
      content: " ";
      width: 140px;
      height: 47px;
      z-index: 1200;
      background-image: url("/Files/icons/service_in_development.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__service-animated {
    animation-name: service-watch;
    animation-duration: 2s;
  }


  &__phone-menu {
    display: inline-block;
    position: absolute;
    left: 512px;
    top: 77px;
    width: 303px;
    height: 610px;
    z-index: 300;
    transition: all 0.2s linear;
  }
  &__left-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
    transition: all 0.2s linear;
    top: 2px;
    text-align: right;
    z-index: -100;
  }
  &__left-text--shifted {
    left: -500px;
    z-index: 1000;
  }
  &__left-text-elements {
    position: relative;
    margin-right: 90px;
  }
  &__menu-elements {
    display: block;
    height: 150px;
    margin-bottom: 70px;
  }
  &__menu-name {
    padding-top: 5px;
    font-size: 38px;
    font-family: HNC-Roman, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  &__menu-content {
    padding-top: 70px;
    font-family: HNC-Thin, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    transition: opacity 0.6s ease;
  }
  &__right-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
    text-align: left;
    transition: all 0.2s linear;
    top: 2px;
    z-index: -100;
  }
  &__right-text--shifted {
    opacity: 1;
    left: 350px;
    z-index: 1000;
  }
  &__right-text-elements {
    margin-left: 90px;
    position: relative;
  }
  &__menu-elements-balance {
    cursor: default;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.4s linear;
    transform: translateX(-2000px);
    opacity: 0;
  }
  &__menu-elements-balance--hovered {
    color: #FFCC00;
    .home-page__rub {
      fill: #FFCC00;
    }
    .home-page__android-rub {
      fill: #FFCC00;
    }
  }
  &__menu-elements-balance--shifted {
    cursor: pointer;
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-support {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.6s linear;
    transform: translateX(-2000px);
    opacity: 0;
  }
  &__menu-elements-support--hovered {

    color: #FF4160;
    .home-page__sup {
      fill: #FF4160;
    }
    .home-page__android-sup {
      fill: #FF4160;
    }
  }
  &__menu-elements-support--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-profile {
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.8s linear;
    transform: translateX(-2000px);
    opacity: 0;
  }
  &__menu-elements-profile--hovered {
    color: #5D5DF1;
    .home-page__profile {
      fill: #5D5DF1;
    }
    .home-page__android-profile {
      fill: #5D5DF1;
    }
  }
  &__menu-elements-profile--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-info {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.4s linear;
    transform: translateX(2000px);
    opacity: 0;
  }
  &__menu-elements-info--hovered {
    color: #FE00BE;
    .home-page__info {
      stroke: #FE00BE;
    }
    .home-page__android-info {
      fill: #FE00BE;
    }
  }
  &__menu-elements-info--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-bell {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.6s linear;
    transform: translateX(2000px);
    opacity: 0;
  }
  &__menu-elements-bell--hovered {
    color: #0069EA;
    .home-page__bell {
      fill: #0069EA;
    }
    .home-page__android-bell {
      fill: #0069EA;
    }
  }
  &__menu-elements-bell--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-call {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.8s linear;
    transform: translateX(2000px);
    opacity: 0;
  }
  &__menu-elements-call--hovered {
    color: #86CA00;
    .home-page__call {
      fill: #86CA00;
    }
    .home-page__android-call {
      fill: #86CA00;
    }
  }
  &__menu-elements-call--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__icons-iphone {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: opacity 0.3s linear;
  }
  &__icons-iphone--hidden {
    display: none;
  }
  &__rub {
    fill: white;
    width: 33px;
    height: 33px;
    left: 415px;
    top: 1px;
  }
  &__sup {
    fill: white;
    width: 33px;
    height: 33px;
    left: 415px;
    top: 4px;
  }
  &__profile {
    fill: white;
    width: 34px;
    height: 33px;
    left: 413px;
    top: 5px;
  }
  &__info {
    width: 30px;
    height: 40px;
    stroke: white;
    left: 5px;
    top: -2px;
  }
  &__bell {
    width: 30px;
    height: 33px;
    fill: white;
    left: 3px;
    top: 5px;
  }
  &__call {
    fill: white;
    width: 33.5px;
    height: 33px;
    left: 2px;
    top: 4px;
  }

  &__icons-android {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  &__icons-android--showed {
    display: block;
  }
  &__android-rub {
    fill: white;
    width: 34px;
    height: 34px;
    left: 415px;
    top: 1px;
  }
  &__android-sup {
    fill: white;
    width: 34px;
    height: 34px;
    left: 415px;
    top: 4px;
  }
  &__android-profile {
    fill: white;
    width: 27px;
    height: 27px;
    left: 416px;
    top: 5px;
  }
  &__android-info {
    width: 34px;
    height: 44px;
    fill: white;
    left: 3px;
    top: -3px;
  }
  &__android-bell {
    width: 25px;
    height: 31px;
    fill: white;
    left: 5px;
    top: 5px;
  }
  &__android-call {
    fill: white;
    width: 32px;
    height: 35px;
    left: 5px;
    top: 4px;
  }
  &__name-balance {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__name-support {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__name-profile {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__name-info {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__name-bell {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__name-call {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__menu-elements--no-hover {
    cursor: default;
  }

  &__name-info--shifted {
    cursor: default;
    animation-name: name-info_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-bell--shifted {
    cursor: default;
    animation-name: name-bell_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-call--shifted {
    cursor: default;
    animation-name: name-call_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-balance--shifted {
    cursor: default;
    animation-name: name-balance_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-support--shifted {
    cursor: default;
    animation-name: name-support_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-profile--shifted {
    cursor: default;
    animation-name: name-profile_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }


  &__text {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    top: 15px;
    left: 50%;
    text-align: left;
    color: white;
    padding-left: 20px;
    line-height: 1.43;
    letter-spacing: 0.7px;
    transition: all 0.15s linear;
    z-index: 900;
  }
  &__text--hidden {
    opacity: 0;
    z-index: -100;
  }
  &__head {
    font-size: 44px;
    margin-bottom: 20px;
    font-family: HNC-Roman, sans-serif;
  }
  &__paragraph {
    margin-top: 30px;
    width: 633px;
    font-size: 20px;
    font-family: HNC-UltraLight, sans-serif;
  }
  &__shops {
    display: flex;
    margin-top: 63px;
    flex-direction: row
  }
  &__shop-appStore {
    display: block;
    margin-right: 25px;
    cursor: pointer;
    font-family: HNC-Thin, sans-serif;
    width: 173px;
    height: 47px;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__shop-googlePay {
    display: block;
    margin-right: 25px;
    cursor: pointer;
    width: 173px;
    height: 47px;

    transition: all 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__close-menu-elements {
    display: none;
    position: absolute;
    width: 31px;
    height: 31px;
    background-image: url("/Files/icons/button_element_menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: -49px;
    cursor: pointer;
    opacity: 1;
    z-index: 50000;
    transition: opacity 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__close-menu-elements--showed {
    display: block;
  }
  &__elements--hidden {
    opacity: 0;
    z-index: -100;
  }
}

.menu-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  &__box {
    display: none;
    position: relative;
    width: 1320px;
    height: 765px;
    margin: auto;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -500;
      height: 100%;
      width: 100%;
      //background-image: url("/Files/rectangle_3.png");
      //background-repeat: no-repeat;
      background-color: white;
      opacity: 0.05;
      background-size: 104vw auto;
      background-position: calc(-48vw + 660px) calc(-135px - 2vh);
      transition: all 0.2s ease;
    }
    &:after {
      display: block;
      content: " ";
      width: 1318px;
      height: 763px;
      border-radius: 20px;
      border: 1px solid white;
      opacity: 0.1;
      z-index: 0;
    }
  }
  &__box--showed {
    display: block;
    animation-name: menu-elements-border;
    animation-duration: 0.7s;
  }
  &__info-front {
    display: none;
    position: absolute;
    z-index: 1000;
   }
  &__info-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_info-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__info-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_info-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__info-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__info-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_info-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__info-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_info-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__text {
    display: none;
    position: absolute;
    font-size: 19px;
    font-family: HNC-UltraLight, sans-serif;
    letter-spacing: 1px;
    line-height: 1.43;
    opacity: 0;
  }
  &__info-paragraph1 {
    width: 391px;
    top: 175px;
    left: 735px;
  }
  &__info-paragraph2 {
    width: 436px;
    top: 175px;
    left: 735px;
  }

  &__bell-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__bell-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_bell-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__bell-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_bell-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__bell-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__bell-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_bell-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__bell-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_bell-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__bell-watch {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 500;
    width: 178px;
    height: 321px;
    left: 1040px;
    top: 420px;
    transition: opacity 0.5s ease;
    background-image: url("/Files/home_page/iphone/watch_bell.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__bell-watch-iphone {
    display: block;
  }
  &__bell-watch--showed {
    opacity: 1;
  }
  &__bell-paragraph1 {
    width: 391px;
    top: 175px;
    left: 735px;
  }
  &__bell-paragraph2 {
    width: 436px;
    top: 175px;
    left: 735px;
  }

  &__call-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__call-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_call-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__call-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_call-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__call-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__call-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_call-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__call-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_call-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__call-paragraph1 {
    width: 391px;
    top: 175px;
    left: 735px;
  }
  &__call-paragraph2 {
    width: 436px;
    top: 175px;
    left: 735px;
  }
  &__call-paragraph3 {
    width: 391px;
    top: 175px;
    left: 735px;
  }

  &__balance-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__balance-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_balance-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__balance-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_balance-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__balance-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__balance-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_balance-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__balance-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_balance-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__balance-paragraph1 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }
  &__balance-paragraph2 {
    text-align: right;
    width: 436px;
    top: 175px;
    right: 725px;
  }
  &__balance-paragraph3 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }

  &__support-center {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__support-center-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_support-center.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__support-center-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_support-center.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__support-paragraph1 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }
  &__support-paragraph2 {
    text-align: right;
    width: 436px;
    top: 175px;
    right: 725px;
  }

  &__profile-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__profile-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_profile-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__profile-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_profile-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__profile-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__profile-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_profile-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
  }
  &__profile-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_profile-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 287px;
    height: 618px;
  }
  &__profile-paragraph1 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }
  &__profile-paragraph2 {
    text-align: right;
    width: 436px;
    top: 175px;
    right: 725px;
  }


  &__right-back--moved {
    display: block;
    animation-name: menu-elements_right-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  &__right-front--moved {
    display: block;
    animation-name: menu-elements_right-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__left-back--moved {
    display: block;
    animation-name: menu-elements_left-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  &__left-front--moved {
    display: block;
    animation-name: menu-elements_left-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__center--moved {
    display: block;
    animation-name: menu-elements_center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__paragraph1--moved {
    display: block;
    animation-name: menu-elements_right-paragraph1;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  &__paragraph2--moved {
    display: block;
    animation-name: menu-elements_right-paragraph2;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  &__paragraph3--moved {
    display: block;
    animation-name: menu-elements_right-paragraph3;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }


}


//----------------------------------------------------------------------------------------------------------

.modal {
  display: none;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10000;
  margin: auto;
  &__box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1326px;
    height: 765px;
    margin: auto;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    z-index: 1000;
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -500;
      height: 100%;
      width: 100%;
      min-width: 1326px;
      background-image: url("/Files/rectangle_3.png");
      background-repeat: no-repeat;
      //background-color: black;
      opacity: 1;
      background-size: cover;
      background-size: 110vw auto;
      //background-position: 50, 0;
      //filter: glow(5px);
      background-position: calc(-50vw + 663px), calc(-50vh + 385px);
      transition: all 0.2s ease;
    }
    &:after {
      display: block;
      position: absolute;
      content: " ";
      width: 1324px;
      height: 763px;
      border-radius: 20px;
      border: 1px solid white;
      opacity: 0.1;
      z-index: 0;
    }
  }
  &__closes {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 15vh;
    left: calc(50% + 678px);
    width: 31px;
    height: 31px;
    background-image: url("/Files/icons/button_element_menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      opacity: 0.6;
    }
  }
  &__box--showed {
    display: flex;
    animation-name: menu-elements-border;
    animation-duration: 0.7s;
  }
  &__box-name {
    display: block;
    text-align: left;
    width: 700px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 31px;
    font-family: HNC-Roman, sans-serif;
    letter-spacing: 1px;
  }
  &__box-content {
    display: block;
    width: 831px;
    font-size: 20px;
    font-family: HNC-UltraLight, sans-serif;
    margin-top: 30px;
    letter-spacing: 0.6px;
    line-height: 1.4;
  }
  &__form {
    //display: block;
    z-index: 1000;
    margin-top: 80px;
    width: 469px;
    height: auto;
  }
  &__form-box {
    width: 469px;
    height: 45px;
    border-radius: 7px;
    border: 1px solid white;
    background-color: transparent;
    background-clip: padding-box;
    color: white;
    font-size: 18px;
    font-family: HNC-UltraLight, sans-serif;
    padding-left: 25px;
    margin-bottom: 27px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    opacity: 0.6;
    outline:none;
    &::-webkit-input-placeholder {
      color: white;
    }
    &::-moz-placeholder {color: white;}
    &:-moz-placeholder {color: white;}
    &:-ms-input-placeholder {color: indianred;}
    &:hover {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
    }
  }
  &__form-button {
    display: block;
    z-index: 1000;
    cursor: pointer;
    font-size: 19px;
    font-family: HNC-Thin, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    border-radius: 7px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 173px;
    height: 47px;
    padding: auto;
    outline:none;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      background-color: white;
      opacity: 1;
      color: #3C250F;
    }
  }
}

.final {
  display: none;
  position: fixed;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  color: white;
  &__box {
    display: flex;
    flex-direction: column;
    width: 602px;
    height: 379px;
    margin: auto;
    border-radius: 20px;
    &:before {
      position: absolute;
      content: " ";
      width: 602px;
      height: 379px;
      margin: auto;
      background-image: url("/Files/rectangle_3.png");
      background-position: 60% 45%;
      background-repeat: no-repeat;
      opacity: .98;
      border-radius: 20px;
      z-index: -1000;
    }
  }
  &__box-text {
    display: block;
    text-align: center;
    width: 395px;
    margin: 135px auto 70px;
    font-size: 20px;
    font-family: HNC-UltraLight, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
  &__box-button {
    display: block;
    cursor: pointer;
    border: 1px white solid;
    width: 196px;
    height: 45px;
    margin: 0 auto;
    padding: 13px 85px;
    border-radius: 5px;
    font-size: 19px;
    font-family: HNC-Thin, sans-serif;
    letter-spacing: 1px;
    &:hover {
      opacity: .6;
    }
    &:active {
      background-color: white;
      opacity: 1;
      color: #3C250F;
    }
  }
  &__box--showed {
    display: flex;
    animation-name: menu-elements-border;
    animation-duration: 0.7s;
  }
}



//----------------------------------------------------------------------------------------------------------


.get-ap {
  display: flex;
  margin: auto;
  max-width: 533px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
  &__name {
    display: block;
    font-size: 44px;
    font-family: HNC-Roman, sans-serif;
  }
  &__content {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 20px;
    text-align: center;
    font-family: HNC-UltraLight, sans-serif;
  }
  &__logo {
    display: block;
    background-image: url("/Files/logo_anetwork.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 256px;
    width: 256px;
    margin-top: 98px;
  }

  &__shops {
    display: flex;
    margin-top: 98px;
    flex-direction: row
  }
  &__shop-appStore {
    display: block;
    cursor: pointer;
    margin-right: 25px;
    width: 173px;
    height: 47px;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__shop-googlePay {
    display: block;
    margin-right: 25px;
    cursor: pointer;
    width: 173px;
    height: 47px;
    transition: all 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
  }

}

@media (max-width: 1290px) {
  .body {
    width: 1280px;
    height: 800px;
  }
  .header {
    height: 70px;
    &__container {
      max-width: 950px;
    }
    &__home {
      font-size: 30px;
      letter-spacing: 0.8px;
    }
    &__button {
      width: 137px;
      height: 38px;
      font-size: 13px;
      padding: 12px 10.5px 12px 10.5px;
      line-height: 1;
      letter-spacing: 1px;
    }
  }
  .footer {
    height: 70px;
  }
  .home-page {
    width: 950px;
    height: 530px;
    &__left-phone {
      width: 207px;
      height: 445px;
      top: 43px;
    }
    &__left-phone--shifted-center {
      transform: none;
      left: 371px;
      top: 50px;
    }

    &__center-phone {
      width: 218px;
      height: 436px;
      top: 37px;
      left: 150px;
    }
    &__center-phone--shifted-center {
      transform: none;
      left: 366px;
      top: 45px;
    }
    &__watch-right {
      width: 128px;
      height: 231px;
      top: 255px;
      left: 333px;
    }
    &__service-development {
      width: 96px;
      height: 32px;
      top: 103px;
      left: 13px;
      &:before {
        width: 128px;
        height: 231px;
        top: -103px;
        left: -13px;
      }
      &:after {
        width: 96px;
        height: 32px;
      }
    }
    &__phone-menu {
      width: 218px;
      height: 436px;
      top: 45px;
    }
    &__left-text {
      width: 325px;
    }
    &__left-text--shifted {
      left: -500px;
    }
    &__left-text-elements {
      margin-right: 70px;
    }
    &__right-text {
      width: 325px;
    }
    &__right-text-elements {
      margin-left: 60px;
    }
    &__right-text--shifted {
      left: 100px;
      z-index: 1000;
    }
    &__menu-elements {
      height: 110px;
      margin-bottom: 50px;
    }
    &__menu-name {
      font-size: 30px;
      margin-bottom: 18px;
    }
    &__menu-content {
      padding-top: 55px;
      font-size: 18px;
      line-height: 1.4;
    }

    &__rub {
      width: 29px;
      height: 29px;
      left: 295px;
    }
    &__sup {
      width: 29px;
      height: 29px;
      left: 295px;
    }
    &__profile {
      width: 30px;
      height: 29px;
      left: 295px;
    }
    &__info {
      width: 26px;
      height: 33px;
      left: 2px;
      top: 0;
    }
    &__bell {
      width: 26px;
      height: 29px;
      left: 1px;
    }
    &__call {
      width: 28.5px;
      height: 28px;
      left: 1px;
    }

    &__android-rub {
      width: 30px;
      height: 30px;
      left: 295px;
    }
    &__android-sup {
      width: 30px;
      height: 30px;
      left: 295px;
    }
    &__android-profile {
      width: 25px;
      height: 25px;
      left: 298px;
      top: 5px;
    }
    &__android-info {
      width: 30px;
      height: 37px;
      left: 2px;
    }
    &__android-bell {
      width: 23px;
      height: 29px;
      left: 4px;
      top: 5px;
    }
    &__android-call {
      width: 29px;
      height: 31px;
      left: 3px;
      top: 4px;
    }

    &__text {
      margin-top: -5px;
      line-height: 1.3;
      letter-spacing: 0.5px;
    }
    &__head {
      font-size: 31px;
      margin-bottom: 10px;
    }
    &__paragraph {
      margin-top: 25px;
      width: 457px;
      font-size: 16px;
    }
    &__shops {
      margin-top: 40px;
    }
    &__shop-appStore {
      width: 137px;
      height: 38px;
      margin-right: 20px;
    }
    &__shop-googlePay {
      width: 137px;
      height: 38px;
      margin-right: 20px;
    }
    &__close-menu-elements {
      width: 25px;
      height: 25px;
      right: -35px;
    }

    &__name-info--shifted {
      animation-name: name-info_shifted-1280;
    }
    &__name-bell--shifted {
       animation-name: name-bell_shifted-1280;
     }
    &__name-call--shifted {
      animation-name: name-call_shifted-1280;
    }
    &__name-balance--shifted {
      animation-name: name-balance_shifted-1280;
    }
    &__name-support--shifted {
      animation-name: name-support_shifted-1280;
    }
    &__name-profile--shifted {
      animation-name: name-profile_shifted-1280;
    }
  }
  .menu-elements {
    &__box {
      width: 950px;
      height: 530px;
      &:before {
        background-position: calc(-48vw + 475px) calc(-48vh + 265px);
      }
      &:after {
        width: 948px;
        height: 528px;
      }
    }
    &__info-front-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__info-front-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__info-back-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__info-back-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }

    &__text {
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 1.43;
    }
    &__info-paragraph1 {
      width: 289px;
      top: 53px;
      left: 522px;
    }
    &__info-paragraph2 {
      width: 323px;
      top: 53px;
      left: 522px;
    }

    &__bell-front-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__bell-front-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__bell-back-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__bell-back-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__bell-watch {
      width: 128px;
      height: 231px;
      top: 280px;
      left: 780px;
    }
    &__bell-paragraph1 {
      width: 289px;
      top: 53px;
      left: 522px;
    }
    &__bell-paragraph2 {
      width: 323px;
      top: 53px;
      left: 522px;
    }
    &__call-front-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__call-front-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__call-back-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__call-back-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__call-paragraph1 {
      width: 289px;
      top: 53px;
      left: 522px;
    }
    &__call-paragraph2 {
      width: 323px;
      top: 53px;
      left: 522px;
    }
    &__call-paragraph3 {
      width: 289px;
      top: 53px;
      left: 522px;
    }
    &__balance-front-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__balance-front-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__balance-back-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__balance-back-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__balance-paragraph1 {
      width: 289px;
      top: 175px;
      right: 533px;
    }
    &__balance-paragraph2 {
      width: 323px;
      top: 175px;
      right: 533px;
    }
    &__balance-paragraph3 {
      width: 289px;
      top: 175px;
      right: 533px;
    }
    &__support-center-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__support-center-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__support-paragraph1 {
      width: 289px;
      top: 175px;
      right: 533px;
    }
    &__support-paragraph2 {
      width: 323px;
      top: 175px;
      right: 533px;
    }
    &__profile-front-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__profile-front-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;
    }
    &__profile-back-iphone {
      top: 45px;
      left: 366px;
      width: 218px;
      height: 436px;
    }
    &__profile-back-android {
      top: 50px;
      left: 371px;
      width: 207px;
      height: 445px;;
    }
    &__profile-paragraph1 {
      width: 289px;
      top: 175px;
      right: 533px;
    }
    &__profile-paragraph2 {
      width: 323px;
      top: 175px;
      right: 533px;
    }


    &__right-back--moved {
      animation-name: menu-elements_right-back-1280;
    }
    &__right-front--moved {
      animation-name: menu-elements_right-front-1280;
    }
    &__left-back--moved {
      animation-name: menu-elements_left-back-1280;
    }
    &__left-front--moved {
      animation-name: menu-elements_left-front-1280;
    }
    &__center--moved {
      animation-name: menu-elements_center-1280;
    }
    &__paragraph1--moved {
      animation-name: menu-elements_right-paragraph1-1280;
    }
    &__paragraph2--moved {
      animation-name: menu-elements_right-paragraph2-1280;
    }
    &__paragraph3--moved {
      animation-name: menu-elements_right-paragraph3-1280;
    }
  }

  .modal {
    &__box {
      width: 950px;
      height: 560px;
      border-radius: 15px;
      &:before {
        background-position: calc(-50vw + 475px), calc(-50vh + 280px);
      }
      &:after {
        width: 948px;
        height: 558px;
        border-radius: 15px;
      }
    }
    &__closes {
      top: 15vh;
      left: calc(50% + 495px);
      width: 23px;
      height: 23px;
    }

    &__box-name {
      width: 500px;
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 23px;
    }
    &__box-content {
      width: 615px;
      font-size: 15px;
      margin-top: 23px;
    }
    &__form {
      margin-top: 60px;
      width: 350px;
    }
    &__form-box {
      width: 350px;
      height: 33px;
      border-radius: 5px;
      font-size: 14px;
      padding-left: 25px;
      margin-bottom: 18px;
    }
    &__form-button {
      font-size: 14px;
      border-radius: 5px;
      width: 146px;
      height: 34px;
    }
  }
}


@keyframes motion-IPhone {
  0% {transform: translateY(-3px);}
  25% {transform: translateY(-6px);}
  75% {transform: translateY(0px);}
  100% {transform: translateY(-3px);}
}

@keyframes motion-Android {
  0% {transform: translateY(-4px);}
  25% {transform: translateY(0);}
  75% {transform: translateY(-8px);}
  100% {transform: translateY(-4px);}
}

@keyframes motion-watch {
  0% {transform: translateY(3px);}
  20% {transform: translateY(0);}
  50% {transform: translateY(-3px);}
  100% {transform: translateY(3px);}
}

@keyframes service-watch {
  0% {}
  1% {opacity: 0.5;
      z-index: 1000}
  10% {transform: scaleX(1.1);
      opacity: 1;}
  30% {transform: scaleX(1);
      opacity: 1;}
  95% {transform: scaleX(1);
      opacity: 1;}
  100% {opacity: 0;
        z-index: -1000}
}

@keyframes menu-elements-border {
  0% {transform: scale(0.7);
      opacity: 0;}
  70% {transform: scale(1.01);
    opacity: 1;}
  100% {transform: scale(1);}
}

@keyframes name-info_shifted {
  0% {}
  100% {font-size: 44px;
        top: 65px;
        left: -220px;
  }
}

@keyframes name-info_shifted-1280 {
  0% {}
  100% {font-size: 32px;
    top: 53px;
    left: -150px;
  }
}

@keyframes name-bell_shifted {
  0% {}
  100% {font-size: 44px;
    top: -155px;
    left: -220px;
  }
}
@keyframes name-bell_shifted-1280 {
  0% {}
  100% {font-size: 32px;
    top: -105px;
    left: -150px;
  }
}

@keyframes name-call_shifted {
  0% {}
  100% {font-size: 44px;
    top: -375px;
    left: -220px;
  }
}
@keyframes name-call_shifted-1280 {
  0% {}
  100% {font-size: 32px;
    top: -265px;
    left: -150px;
  }
}

@keyframes name-balance_shifted {
  0% {color: white}
  100% {font-size: 44px;
    top: 65px;
    right: -220px;
  }
}
@keyframes name-balance_shifted-1280 {
  0% {color: white}
  100% {font-size: 32px;
    top: 53px;
    right: -150px;
  }
}

@keyframes name-support_shifted {
   0% {}
   100% {font-size: 44px;
     top: -155px;
     right: -220px;
   }
 }
@keyframes name-support_shifted-1280 {
  0% {}
  100% {font-size: 32px;
    top: -105px;
    right: -150px;
  }
}

@keyframes name-profile_shifted {
  0% {}
  100% {font-size: 44px;
    top: -375px;
    right: -220px;
  }
}
@keyframes name-profile_shifted-1280 {
  0% {}
  100% {font-size: 32px;
    top: -265px;
    right: -150px;
  }
}

@keyframes menu-elements_right-front {
   0% {}
   100% {top: 55px;
     left: 325px;}
 }
@keyframes menu-elements_right-front-1280 {
  0% {}
  100% {top: 14px;
    left: 228px;}
}
@keyframes menu-elements_right-back {
  0% {}
  100% {top: 120px;
    left: 125px;}
}
@keyframes menu-elements_right-back-1280 {
  0% {}
  100% {top: 65px;
    left: 76px;}
}

@keyframes menu-elements_left-front {
  0% {}
  100% {top: 55px;
    left: 680px;}
}
@keyframes menu-elements_left-front-1280 {
  0% {}
  100% {top: 14px;
    left: 505px;}
}
@keyframes menu-elements_left-back {
  0% {}
  100% {top: 120px;
    left: 880px;}
}
@keyframes menu-elements_left-back-1280 {
  0% {}
  100% {top: 65px;
    left: 655px;}
}

@keyframes menu-elements_center {
  0% {}
  100% {top: 14px;
    left: 795px;}
}
@keyframes menu-elements_center-1280 {
  0% {}
  100% {top: 55px;
    left: 580px;}
}

@keyframes menu-elements_right-paragraph1 {
  0% {opacity: 0;}
  70% {top: 265px;
      opacity: 1;}
  100% {top: 255px;
      opacity: 1;}
}
@keyframes menu-elements_right-paragraph1-1280 {
  0% {opacity: 0;}
  70% {top: 170px;
    opacity: 1;}
  100% {top: 160px;
    opacity: 1;}
}

@keyframes menu-elements_right-paragraph2 {
  0% {opacity: 0;}
  70% {top: 395px;
      opacity: 1}
  100% {top: 385px;
      opacity: 1;}
}
@keyframes menu-elements_right-paragraph2-1280 {
  0% {opacity: 0;}
  70% {top: 270px;
    opacity: 1}
  100% {top: 260px;
    opacity: 1;}
}

@keyframes menu-elements_right-paragraph3 {
  0% {opacity: 0;}
  70% {top: 550px;
    opacity: 1}
  100% {top: 530px;
    opacity: 1;}
}
@keyframes menu-elements_right-paragraph3-1280 {
  0% {opacity: 0;}
  70% {top: 380px;
    opacity: 1}
  100% {top: 370px;
    opacity: 1;}
}