@import "./reset.scss";

@font-face {
  font-family: HNC-Medium;
  src: local(HNC-Medium), url("/Font/HelveticaNeueCyr-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-Roman;
  src: local(HNC-Roman), url("/Font/HelveticaNeueCyr-Roman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-Light;
  src: local(HNC-Light), url("/Font/HelveticaNeueCyr-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-Thin;
  src: local(HNC-Thin), url("/Font/HelveticaNeueCyr-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HNC-UltraLight;
  src: local(HNC-UltraLight), url("/Font/HelveticaNeueCyr-UltraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

$bold: bold;
$color-hover: #5d5df1;

body {
  font-family: sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/Files/rectangle_3.png");
  background-color: #606866;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 83px;
  z-index: 100;
  &:after {
    display: block;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 1px;
    background-color: #626262;
    opacity: .5;
  }
  &__container {
    display: flex;
    margin: auto;
    max-width: 1320px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__home {
    display: block;
    color: white;
    font-size: 34px;
    font-family: HNC-Roman, sans-serif;
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: transform 0.1s linear;
    &:hover {
      transform: scale(1.03);
    }
  }
  &__button {
    display: block;
    color: white;
    width: 173px;
    height: 47px;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 17px;
    font-family: HNC-Thin, sans-serif;
    text-decoration: none;
    padding: 14px 13px 14px 13px;
    line-height: 1;
    letter-spacing: 1px;
    transition: all 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 83px;
  z-index: 100;
  &:before {
    display: block;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 1px;
    background-color: #616161;
    opacity: .35;
  }
  &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    content: " ";
    line-height: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    z-index: 500;
  }
  &:hover:after {
    opacity: 0.09;
  }
  &__container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 16px;
  }
  &__logo {
    width: 107px;
    height: 24px;
    background-image: url("/Files/logo.png");
    text-decoration: none;
    margin-right: 31px;
    z-index: 10000;
    &:hover {
      opacity: 0.8;
    }
  }
  &__logo--opacited {
    opacity: 0.8;
  }
}

//.scroll-menu {
//  display: block;
//  z-index: 1000;
//  position: fixed;
//  top: 30%;
//  left: 5%;
//  opacity: 0;
//  transition: opacity 0.5s linear;
//  &.vision {
//    opacity: 1;
//  }
//  &__button {
//    display: flex;
//    margin-top: 20px;
//    border: 1px solid white;
//    border-radius: 50%;
//    opacity: 0.3;
//    height: 14px;
//    width: 14px;
//    justify-content: center;
//    align-items: center;
//    transition: opacity 0.3s linear;
//    &.active {
//      opacity: 1;
//      .scroll-menu__point {
//        opacity: 1;
//      }
//    }
//  }
//  &__point {
//    display: block;
//    text-decoration: none;
//    padding: 5px;
//    background-color: white;
//    opacity: 0;
//    border-radius: 50%;
//    transition: 0.2s;
//    cursor: pointer;
//    &:hover {
//      opacity: 1;
//    }
//  }
//
//}

section {
  color: white;
}

.home-page {
  display: flex;
  position: relative;
  margin: auto;
  width: 1320px;
  height: 750px;

  &__left-phone {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    background-image: url("/Files/home_page/android/phone-general-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 618px;
    width: 287px;
    z-index: 100;
    cursor: pointer;
    transition: transform 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear, left 0.2s linear, top 0.2s linear;
  }
  &__left-phone-motion {
    animation-name: motion-Android;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &__left-phone--hovered {
    transform: scale(1.02);
    z-index: 500;
  }
  &__left-phone--hover-balance {
    background-image: url("/Files/home_page/android/phone_balance.png");
  }
  &__left-phone--hover-support {
    background-image: url("/Files/home_page/android/phone_support.png");
  }
  &__left-phone--hover-profile {
    background-image: url("/Files/home_page/android/phone_profile.png");
  }
  &__left-phone--hover-info {
    background-image: url("/Files/home_page/android/phone_info.png");
  }
  &__left-phone--hover-bell {
    background-image: url("/Files/home_page/android/phone_bell.png");
  }
  &__left-phone--hover-call {
    background-image: url("/Files/home_page/android/phone_call.png");
  }
  &__left-phone--shifted {
    left: -500px;
    opacity: 0;
  }
  &__left-phone--shifted-center {
    transform: none;
    cursor: default;
    left: 518px;
    top: 68px;
    z-index: 300;
  }

  &__center-phone {
    display: block;
    position: absolute;
    top: 61px;
    left: 210px;
    background-image: url("/Files/home_page/iphone/iphone-general-menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 303px;
    height: 606px;
    cursor: pointer;
    transition: transform 0.25s linear, width 0.2s linear, height 0.25s linear, opacity 0.2s linear, left 0.2s linear, top 0.2s linear;
    z-index: 500;

  }
  &__center-phone-motion {
    animation-name: motion-IPhone;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  //&__phone-motion--stopped {
  //  animation-play-state: paused;
  //}
  &__center-phone--hover-balance {
    background-image: url("/Files/home_page/iphone/iphone_balance.png");
  }
  &__center-phone--hover-support {
    background-image: url("/Files/home_page/iphone/iphone_support.png");
  }
  &__center-phone--hover-profile {
    background-image: url("/Files/home_page/iphone/iphone_profile.png");
  }
  &__center-phone--hover-info {
    background-image: url("/Files/home_page/iphone/iphone_info.png");
  }
  &__center-phone--hover-bell {
    background-image: url("/Files/home_page/iphone/iphone_bell.png");
  }
  &__center-phone--hover-call {
    background-image: url("/Files/home_page/iphone/iphone_call.png");
  }

  &__center-phone--hovered {
    transform: scale(1.02);
    z-index: 500;
  }
  &__center-phone--shifted {
    left: -500px;
    opacity: 0;
  }
  &__center-phone--shifted-center {
    transform: none;
    cursor: default;
    left: 512px;
    top: 79px;
    z-index: -100;
  }

  &__watch-right {
    display: block;
    position: absolute;
    top: 367px;
    left: 463px;
    background-image: url("/Files/home_page/watch_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 178px;
    height: 321px;
    z-index: 900;
    cursor: pointer;
    transition: all 0.15s linear;
  }
  &__watch-right--hovered {
    transform: scale(1.02);
  }
  &__watch-right-motion {
    animation-name: motion-watch;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &__watch-right--down {
    top: 520px;
    opacity: 0;
    z-index: -100;
  }
  &__service-development {
    display: block;
    position: absolute;
    top: 150px;
    left: 16px;
    width: 140px;
    height: 47px;
    transform: scaleX(1);
    z-index: -20000;
    transition: all 0.2s linear;
    border-radius: 5.45px;
    overflow: hidden;
    opacity: 0;
    &:before {
      display: block;
      position: absolute;
      top: -150px;
      left: -16px;
      content: " ";
      z-index: 700;
      background-image: url("/Files/home_page/watch_right.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 187px;
      height: 337px;
      filter: blur(5px);
    }
    &:after {
      display: block;
      position: absolute;
      content: " ";
      width: 140px;
      height: 47px;
      z-index: 1200;
      background-image: url("/Files/icons/service_in_development.png");
    }
  }
  &__service-animated {
    animation-name: service-watch;
    animation-duration: 2s;
  }


  &__phone-menu {
    display: inline-block;
    position: absolute;
    left: 512px;
    top: 77px;
    width: 303px;
    height: 610px;
    z-index: 300;
    transition: all 0.2s linear;
  }
  &__left-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
    transition: all 0.2s linear;
    top: 2px;
    text-align: right;
    z-index: -100;
  }
  &__left-text--shifted {
    left: -500px;
    z-index: 1000;
  }
  &__left-text-elements {
    position: relative;
    margin-right: 90px;

  }
  &__menu-elements {
    display: block;
    height: 150px;
    margin-bottom: 70px;
  }
  &__menu-name {
    padding-top: 5px;
    font-size: 38px;
    font-family: HNC-Roman, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  &__menu-content {
    padding-top: 70px;
    font-family: HNC-Thin, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    transition: opacity 0.6s ease;
  }
  &__right-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
    text-align: left;
    transition: all 0.2s linear;
    top: 2px;
    z-index: -100;
  }
  &__right-text--shifted {
    opacity: 1;
    left: 350px;
    z-index: 1000;
  }
  &__right-text-elements {
    margin-left: 90px;
    position: relative;
  }
  &__menu-elements-balance {
    cursor: default;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.4s linear;
    transform: translateX(-2000px);
    opacity: 0;
  }
  &__menu-elements-balance--hovered {
    color: #FFCC00;
    .home-page__rub {
      fill: #FFCC00;
    }
    .home-page__android-rub {
      fill: #FFCC00;
    }
  }
  &__menu-elements-balance--shifted {
    cursor: pointer;
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-support {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.6s linear;
    transform: translateX(-2000px);
    opacity: 0;
  }
  &__menu-elements-support--hovered {

    color: #FF4160;
    .home-page__sup {
      fill: #FF4160;
    }
    .home-page__android-sup {
      fill: #FF4160;
    }
  }
  &__menu-elements-support--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-profile {
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.8s linear;
    transform: translateX(-2000px);
    opacity: 0;
  }
  &__menu-elements-profile--hovered {
    color: #5D5DF1;
    .home-page__profile {
      fill: #5D5DF1;
    }
    .home-page__android-profile {
      fill: #5D5DF1;
    }
  }
  &__menu-elements-profile--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-info {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.4s linear;
    transform: translateX(2000px);
    opacity: 0;
  }
  &__menu-elements-info--hovered {
    color: #FE00BE;
    .home-page__info {
      stroke: #FE00BE;
    }
    .home-page__android-info {
      fill: #FE00BE;
    }
  }
  &__menu-elements-info--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-bell {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.6s linear;
    transform: translateX(2000px);
    opacity: 0;
  }
  &__menu-elements-bell--hovered {
    color: #0069EA;
    .home-page__bell {
      fill: #0069EA;
    }
    .home-page__android-bell {
      fill: #0069EA;
    }
  }
  &__menu-elements-bell--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__menu-elements-call {
    cursor: pointer;
    transition: opacity 0.3s linear, color 0.2s linear, fill 0.2s linear, transform 0.8s linear;
    transform: translateX(2000px);
    opacity: 0;
  }
  &__menu-elements-call--hovered {
    color: #86CA00;
    .home-page__call {
      fill: #86CA00;
    }
    .home-page__android-call {
      fill: #86CA00;
    }
  }
  &__menu-elements-call--shifted {
    transform: translateX(0px);
    opacity: 1;
  }
  &__icons-iphone {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transition: opacity 0.3s linear;
  }
  &__icons-iphone--hidden {
    display: none;
  }
  &__rub {
    fill: white;
    width: 33px;
    height: 33px;
    left: 415px;
    top: 1px;
  }
  &__sup {
    fill: white;
    width: 33px;
    height: 33px;
    left: 415px;
    top: 4px;
  }
  &__profile {
    fill: white;
    width: 34px;
    height: 33px;
    left: 413px;
    top: 5px;
  }
  &__info {
    width: 30px;
    height: 40px;
    stroke: white;
    left: 5px;
    top: -2px;
  }
  &__bell {
    width: 30px;
    height: 33px;
    fill: white;
    left: 3px;
    top: 5px;
  }
  &__call {
    fill: white;
    width: 33.5px;
    height: 33px;
    left: 2px;
    top: 4px;
  }

  &__icons-android {
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  &__icons-android--showed {
    display: block;
  }
  &__android-rub {
    fill: white;
    width: 34px;
    height: 34px;
    left: 415px;
    top: 1px;
  }
  &__android-sup {
    fill: white;
    width: 34px;
    height: 34px;
    left: 415px;
    top: 4px;
  }
  &__android-profile {
    fill: white;
    width: 27px;
    height: 27px;
    left: 416px;
    top: 5px;
  }
  &__android-info {
    width: 34px;
    height: 44px;
    fill: white;
    left: 3px;
    top: -3px;
  }
  &__android-bell {
    width: 25px;
    height: 31px;
    fill: white;
    left: 5px;
    top: 5px;
  }
  &__android-call {
    fill: white;
    width: 32px;
    height: 35px;
    left: 5px;
    top: 4px;
  }
  &__name-balance {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__name-support {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__name-profile {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__name-info {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__name-bell {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__name-call {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__menu-elements--no-hover {
    cursor: default;
  }

  &__name-info--shifted {
    cursor: default;
    animation-name: name-info_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-bell--shifted {
    cursor: default;
    animation-name: name-bell_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-call--shifted {
    cursor: default;
    animation-name: name-call_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-balance--shifted {
    cursor: default;
    animation-name: name-balance_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-support--shifted {
    cursor: default;
    animation-name: name-support_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  &__name-profile--shifted {
    cursor: default;
    animation-name: name-profile_shifted;
    animation-duration: 0.2s;
    //animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }


  &__text {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    top: 15px;
    left: 50%;
    text-align: left;
    color: white;
    padding-left: 20px;
    line-height: 1.43;
    letter-spacing: 0.7px;
    transition: all 0.15s linear;
    z-index: 900;
  }
  &__text--hidden {
    opacity: 0;
    z-index: -100;
  }
  &__head {
    font-size: 44px;
    margin-bottom: 20px;
    font-family: HNC-Roman, sans-serif;
  }
  &__paragraph {
    margin-top: 30px;
    width: 633px;
    font-size: 20px;
    font-family: HNC-UltraLight, sans-serif;
  }
  &__shops {
    display: flex;
    margin-top: 63px;
    flex-direction: row
  }
  &__shop-appStore {
    display: block;
    margin-right: 25px;
    text-decoration: none;
    background-image: url("/Files/home_page/app_store.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 173px;
    height: 47px;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__shop-googlePay {
    display: block;
    margin-right: 25px;
    text-decoration: none;
    background-image: url("/Files/home_page/google_play.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 173px;
    height: 47px;
    transition: all 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__close-menu-elements {
    display: none;
    position: absolute;
    width: 31px;
    height: 31px;
    background-image: url("/Files/icons/button_element_menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: -49px;
    cursor: pointer;
    opacity: 1;
    z-index: 50000;
    transition: opacity 0.1s linear;
    &:hover {
      opacity: 0.6;
    }
  }
  &__close-menu-elements--showed {
    display: block;
  }
  &__elements--hidden {
    opacity: 0;
    z-index: -100;
  }
}

.menu-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  &__box {
    display: none;
    position: relative;
    width: 1320px;
    height: 765px;
    margin: auto;
    //margin-top: 135px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 20px;
    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -500;
      height: 100%;
      width: 100%;
      background-image: url("/Files/rectangle_3.png");
      background-repeat: no-repeat;
      background-size: 104vw auto;
      background-position: calc(-48vw + 660px) calc(-135px - 2vh);
      transition: all 0.2s ease;
    }
    &:after {
      display: block;
      content: " ";
      width: 1318px;
      height: 763px;
      border-radius: 20px;
      border: 1px solid white;
      opacity: 0.1;
      z-index: 0;
    }
  }
  &__box--showed {
    display: block;
    animation-name: menu-elements-border;
    animation-duration: 0.7s;
  }
  &__info-front {
    display: none;
    position: absolute;
    z-index: 1000;
   }
  &__info-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_info-front.png");
    width: 303px;
    height: 606px;
  }
  &__info-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_info-front.png");
    width: 287px;
    height: 618px;
  }
  &__info-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__info-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_info-back.png");
    width: 303px;
    height: 606px;
  }
  &__info-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_info-back.png");
    width: 287px;
    height: 618px;
  }
  &__text {
    display: none;
    position: absolute;
    font-size: 19px;
    font-family: HNC-UltraLight, sans-serif;
    letter-spacing: 1px;
    line-height: 1.43;
    opacity: 0;
  }
  &__info-paragraph1 {
    width: 391px;
    top: 175px;
    left: 735px;
  }
  &__info-paragraph2 {
    width: 436px;
    top: 175px;
    left: 735px;
  }

  &__bell-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__bell-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_bell-front.png");
    width: 303px;
    height: 606px;
  }
  &__bell-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_bell-front.png");
    width: 287px;
    height: 618px;
  }
  &__bell-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__bell-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_bell-back.png");
    width: 303px;
    height: 606px;
  }
  &__bell-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_bell-back.png");
    width: 287px;
    height: 618px;
  }
  &__bell-watch {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 500;
    width: 178px;
    height: 321px;
    left: 1040px;
    top: 420px;
    transition: opacity 0.5s ease;
    background-image: url("/Files/home_page/iphone/watch_bell.png");
  }
  &__bell-watch-iphone {
    display: block;
  }
  &__bell-watch--showed {
    opacity: 1;
  }
  &__bell-paragraph1 {
    width: 391px;
    top: 175px;
    left: 735px;
  }
  &__bell-paragraph2 {
    width: 436px;
    top: 175px;
    left: 735px;
  }

  &__call-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__call-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_call-front.png");
    width: 303px;
    height: 606px;
  }
  &__call-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_call-front.png");
    width: 287px;
    height: 618px;
  }
  &__call-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__call-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_call-back.png");
    width: 303px;
    height: 606px;
  }
  &__call-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_call-back.png");
    width: 287px;
    height: 618px;
  }
  &__call-paragraph1 {
    width: 391px;
    top: 175px;
    left: 735px;
  }
  &__call-paragraph2 {
    width: 436px;
    top: 175px;
    left: 735px;
  }
  &__call-paragraph3 {
    width: 391px;
    top: 175px;
    left: 735px;
  }

  &__balance-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__balance-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_balance-front.png");
    width: 303px;
    height: 606px;
  }
  &__balance-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_balance-front.png");
    width: 287px;
    height: 618px;
  }
  &__balance-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__balance-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_balance-back.png");
    width: 303px;
    height: 606px;
  }
  &__balance-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_balance-back.png");
    width: 287px;
    height: 618px;
  }
  &__balance-paragraph1 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }
  &__balance-paragraph2 {
    text-align: right;
    width: 436px;
    top: 175px;
    right: 725px;
  }
  &__balance-paragraph3 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }

  &__support-center {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__support-center-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_support-center.png");
    width: 303px;
    height: 606px;
  }
  &__support-center-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_support-center.png");
    width: 287px;
    height: 618px;
  }
  &__support-paragraph1 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }
  &__support-paragraph2 {
    text-align: right;
    width: 436px;
    top: 175px;
    right: 725px;
  }

  &__profile-front {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  &__profile-front-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_profile-front.png");
    width: 303px;
    height: 606px;
  }
  &__profile-front-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_profile-front.png");
    width: 287px;
    height: 618px;
  }
  &__profile-back {
    display: none;
    position: absolute;
    z-index: 500;
  }
  &__profile-back-iphone {
    top: 110px;
    left: 510px;
    background-image: url("/Files/home_page/iphone/iphone_profile-back.png");
    width: 303px;
    height: 606px;
  }
  &__profile-back-android {
    top: 100px;
    left: 518px;
    background-image: url("/Files/home_page/android/phone_profile-back.png");
    width: 287px;
    height: 618px;
  }
  &__profile-paragraph1 {
    text-align: right;
    width: 391px;
    top: 175px;
    right: 725px;
  }
  &__profile-paragraph2 {
    text-align: right;
    width: 436px;
    top: 175px;
    right: 725px;
  }


  &__right-back--moved {
    display: block;
    animation-name: menu-elements_right-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  &__right-front--moved {
    display: block;
    animation-name: menu-elements_right-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__left-back--moved {
    display: block;
    animation-name: menu-elements_left-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  &__left-front--moved {
    display: block;
    animation-name: menu-elements_left-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__center--moved {
    display: block;
    animation-name: menu-elements_center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__paragraph1--moved {
    display: block;
    animation-name: menu-elements_right-paragraph1;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  &__paragraph2--moved {
    display: block;
    animation-name: menu-elements_right-paragraph2;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  &__paragraph3--moved {
    display: block;
    animation-name: menu-elements_right-paragraph3;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }


}




//----------------------------------------------------------------------------------------------------------

.general-mobile {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 13px;
    top: 541px;
    width: 349px;
    height: 32px;
    font-family: HNC-Light, sans-serif;
    font-size: 13px;

  }
  &__left-phone {
    display: block;
    position: absolute;
    left: 39px;
    top: 120px;
    background-image: url("/Files/home_page/phone_left.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 161px;
    height: 346px;
  }
  &__center-phone {
    display: block;
    position: absolute;
    left: 161px;
    top: 113px;
    background-image: url("/Files/home_page/phone_center.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 166px;
    height: 335px;
  }
  &__right-watch {
    display: block;
    position: absolute;
    left: 247px;
    top: 320px;
    background-image: url("/Files/home_page/watch_right.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 180px;
  }
}

.balance {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 15px;
    top: 525px;
  }
  &__text-name {
    display: block;
    width: 71px;
    height: 18px;
    font-size: 20px;
    font-family: HNC-Medium, sans-serif;
  }
  &__text-content {
    display: block;
    width: 338px;
    height: 30px;
    font-size: 15px;
    font-family: HNC-Light, sans-serif;
    text-align: left;
    margin-top: 10px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    left: 155px;
    top: 127px;
    background-image: url("/Files/phones/center-phone_Balance-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 198px;
    height: 388px;
  }
  &__phone-front {
    display: block;
    position: absolute;
    left: 32px;
    top: 86px;
    background-image: url("/Files/phones/center-phone_Balance-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 198px;
    height: 389px;
  }
}

.support {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 15px;
    top: 525px;
  }
  &__text-name {
    display: block;
    width: 112px;
    height: 18px;
    font-size: 20px;
    font-family: HNC-Medium, sans-serif;
  }
  &__text-content {
    display: block;
    width: 338px;
    height: 30px;
    font-size: 15px;
    font-family: HNC-Light, sans-serif;
    text-align: left;
    margin-top: 10px;
  }
  &__phone {
    display: block;
    position: absolute;
    left: 93px;
    top: 108px;
    background-image: url("/Files/phones/center-phone_Support.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 198px;
    height: 388px;
  }
}

.profile {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 15px;
    top: 525px;
  }
  &__text-name {
    display: block;
    width: 89px;
    height: 18px;
    font-size: 20px;
    font-family: HNC-Medium, sans-serif;
  }
  &__text-content {
    display: block;
    width: 338px;
    height: 30px;
    font-size: 15px;
    font-family: HNC-Light, sans-serif;
    text-align: left;
    margin-top: 10px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    left: 149px;
    top: 126px;
    background-image: url("/Files/phones/center-phone_Profile-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 198px;
    height: 388px;
  }
  &__phone-front {
    display: block;
    position: absolute;
    left: 29px;
    top: 86px;
    background-image: url("/Files/phones/center-phone-Profile-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 208px;
    height: 409px;
  }
}

.information {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 15px;
    top: 525px;
  }
  &__text-name {
    display: block;
    width: 127px;
    height: 18px;
    font-size: 20px;
    font-family: HNC-Medium, sans-serif;
  }
  &__text-content {
    display: block;
    width: 338px;
    height: 30px;
    font-size: 15px;
    font-family: HNC-Light, sans-serif;
    text-align: left;
    margin-top: 10px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    left: 29px;
    top: 125px;
    background-image: url("/Files/phones/center-phone_Info-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 178px;
    height: 358px;
  }
  &__phone-front {
    display: block;
    position: absolute;
    left: 147px;
    top: 71px;
    background-image: url("/Files/phones/center-phone_Info-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 218px;
    height: 419px;
  }
}

.notification {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 15px;
    top: 525px;
  }
  &__text-name {
    display: block;
    width: 130px;
    height: 18px;
    font-size: 20px;
    font-family: HNC-Medium, sans-serif;
  }
  &__text-content {
    display: block;
    width: 338px;
    height: 30px;
    font-size: 15px;
    font-family: HNC-Light, sans-serif;
    text-align: left;
    margin-top: 10px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    left: 30px;
    top: 125px;
    background-image: url("/Files/phones/notification-phone-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 195px;
    height: 380px;
  }
  &__phone-front {
    display: block;
    position: absolute;
    left: 133px;
    top: 76px;
    background-image: url("/Files/phones/notification-phone-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 228px;
    height: 428px;
  }
  &__watch {
    display: block;
    position: absolute;
    left: 230px;
    top: 325px;
    background-image: url("/Files/phones/notification-watch.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 107px;
    height: 193px;
  }
}

.ip-telephony {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__text {
    display: block;
    position: absolute;
    left: 15px;
    top: 525px;
  }
  &__text-name {
    display: block;
    width: 133px;
    height: 18px;
    font-size: 20px;
    font-family: HNC-Medium, sans-serif;
  }
  &__text-content {
    display: block;
    width: 338px;
    height: 30px;
    font-size: 15px;
    font-family: HNC-Light, sans-serif;
    text-align: left;
    margin-top: 10px;
  }
  &__phone-back {
    display: block;
    position: absolute;
    left: 27px;
    top: 126px;
    background-image: url("/Files/phones/center-phone_Info-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 198px;
    height: 389px;
  }
  &__phone-front {
    display: block;
    position: absolute;
    left: 150px;
    top: 86px;
    background-image: url("/Files/phones/center-phone_IpCall-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 198px;
    height: 388px;
  }
}

.final-page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: indianred;
  &__button {
    display: block;
    position: absolute;
    left: 100px;
    top: 469px;
    border-radius: 5.6px;
    border: 1px solid white;
    font-size: 15px;
    font-family: HNC-Medium, sans-serif;
    padding: 10px 20px;

  }
  &__logo-anetwork {
    display: block;
    position: absolute;
    left: 124px;
    top: 249px;
    background-image: url("/Files/logo_anetwork.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 128px;
    height: 128px;
  }
}


.get-ap {
  display: flex;
  margin: auto;
  max-width: 533px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
  &__name {
    display: block;
    font-size: 44px;
  }
  &__content {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
  }
  &__logo {
    display: block;
    background-image: url("/Files/logo_anetwork.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    width: 256px;
    margin-top: 60px;
  }
  &__shops {
    margin-top: 60px;
  }
  &__shop {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
}

@media (max-width: 1280px) {
  .body {
    width: 1280px;
    height: 800px;
  }
  .header {
    height: 70px;
    &__container {
      max-width: 950px;
    }
    &__home {
      font-size: 30px;
      letter-spacing: 0.8px;
    }
    &__button {
      width: 137px;
      height: 38px;
      font-size: 13px;
      padding: 12px 10.5px 12px 10.5px;
      line-height: 1;
      letter-spacing: 1px;
    }
  }
  .footer {
    height: 70px;
  }
  .home-page {
    width: 950px;
    height: 530px;
    &__left-phone {
      width: 207px;
      height: 445px;
      top: 43px;
    }
    &__left-phone--shifted-center {
      left: 260px;
      top: 45px;
    }
    &__center-phone {
      width: 218px;
      height: 436px;
      top: 37px;
      left: 150px;
    }
    &__center-phone--shifted-center {
      left: 257px;
      top: 45px;
    }
    &__watch-right {
      width: 128px;
      height: 231px;
      top: 255px;
      left: 333px;
    }
    &__service-development {
      width: 96px;
      height: 32px;
      &:before {
        width: 128px;
        height: 231px;
      }
      &:after {
        width: 96px;
        height: 32px;
      }
    }
    &__phone-menu {
      width: 218px;
      height: 436px;
      top: 45px;
    }
    &__left-text {
      width: 325px;
    }
    &__right-text {
      width: 325px;
    }
    &__text {
      margin-top: -5px;
      line-height: 1.3;
      letter-spacing: 0.5px;
    }
    &__head {
      font-size: 31px;
      margin-bottom: 10px;
    }
    &__paragraph {
      margin-top: 25px;
      width: 457px;
      font-size: 16px;
    }
    &__shops {
      margin-top: 40px;
    }
    &__shop-appStore {
      width: 137px;
      height: 38px;
      margin-right: 20px;
    }
    &__shop-googlePay {
      width: 137px;
      height: 38px;
      margin-right: 20px;
    }
  }
}


@keyframes motion-IPhone {
  0% {transform: translateY(-3px);}
  25% {transform: translateY(-6px);}
  75% {transform: translateY(0px);}
  100% {transform: translateY(-3px);}
}

@keyframes motion-Android {
  0% {transform: translateY(-4px);}
  25% {transform: translateY(0);}
  75% {transform: translateY(-8px);}
  100% {transform: translateY(-4px);}
}

@keyframes motion-watch {
  0% {transform: translateY(3px);}
  20% {transform: translateY(0);}
  50% {transform: translateY(-3px);}
  100% {transform: translateY(3px);}
}

@keyframes service-watch {
  0% {}
  1% {opacity: 0.5;
      z-index: 1000}
  10% {transform: scaleX(1.1);
      opacity: 1;}
  30% {transform: scaleX(1);
      opacity: 1;}
  95% {transform: scaleX(1);
      opacity: 1;}
  100% {opacity: 0;
        z-index: -1000}
}

@keyframes menu-elements-border {
  0% {transform: scale(0.7);
      opacity: 0;}
  70% {transform: scale(1.01);
    opacity: 1;}
  100% {transform: scale(1);}
}

@keyframes name-info_shifted {
  0% {}
  100% {font-size: 44px;
        top: 65px;
        left: -220px;
  }
}

@keyframes name-bell_shifted {
  0% {}
  100% {font-size: 44px;
    top: -155px;
    left: -220px;
  }
}

@keyframes name-call_shifted {
  0% {}
  100% {font-size: 44px;
    top: -375px;
    left: -220px;
  }
}

@keyframes name-balance_shifted {
  0% {color: white}
  100% {font-size: 44px;
    top: 65px;
    right: -220px;
  }
}

@keyframes name-support_shifted {
  0% {}
  100% {font-size: 44px;
    top: -155px;
    right: -220px;
  }
}

@keyframes name-profile_shifted {
  0% {}
  100% {font-size: 44px;
    top: -375px;
    right: -220px;
  }
}

@keyframes menu-elements_right-front {
   0% {}
   100% {top: 55px;
     left: 325px;}
 }
@keyframes menu-elements_right-back {
  0% {}
  100% {top: 120px;
    left: 125px;}
}

@keyframes menu-elements_left-front {
  0% {}
  100% {top: 55px;
    left: 680px;}
}
@keyframes menu-elements_left-back {
  0% {}
  100% {top: 120px;
    left: 880px;}
}

@keyframes menu-elements_center {
  0% {}
  100% {top: 55px;
    left: 795px;}
}

@keyframes menu-elements_right-paragraph1 {
  0% {opacity: 0;}
  70% {top: 265px;
      opacity: 1;}
  100% {top: 255px;
      opacity: 1;}
}

@keyframes menu-elements_right-paragraph2 {
  0% {opacity: 0;}
  70% {top: 395px;
      opacity: 1}
  100% {top: 385px;
      opacity: 1;}
}

@keyframes menu-elements_right-paragraph3 {
  0% {opacity: 0;}
  70% {top: 550px;
    opacity: 1}
  100% {top: 530px;
    opacity: 1;}
}